extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/cover.css')

block content
	div.site-wrapper
		div.site-wrapper-inner
			div.cover-container
				div.masthead.clearfix
					div.inner
						h3.masthead-brand Instatalk.me
						//- nav
						//- 	ul.nav.masthead-nav
						//- 		li.active
						//- 			a(href='#') Home
						//- 		li
						//- 			a(href='#') How to Use
						//- 		li
						//- 			a(href='#') Contact
				div.inner.cover
					h1.cover-heading Create a room and invite friends.
					p.lead
						form#startForm(action='')
							div.input-group
								span#basic-addon3.input-group-addon http://instatalk.me/
								input#basic-url.form-control(type='text', aria-describedby='basic-addon3', placeholder='room name')
								span.input-group-btn
									button#startBtn.btn.btn-default(type='submit') Start
					p.lead
						| No Login, No Install, Nothing Saved 
						//- a.btn.btn-lg.btn-default(href='#') Learn more
				div.mastfoot
					div.inner
						p
							| Cover template for 
							a(href='http://getbootstrap.com') Bootstrap
							| , by 
							a(href='https://twitter.com/mdo') @mdo
							| .
block append scripts
	script(src='/javascripts/index.js')
