extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	div.container
		div.header.clearfix
			nav.navbar.navbar-default
				div.container-fluid
					div.navbar-header
						a.navbar-brand(href='#')
							img(alt='Brand', src='/images/masktalk-brand.png')
					div.collapse.navbar-collapse
						p.navbar-text.navbar-right
							a(href='/feedback') Feedback

		div.jumbotron.text-center
			h1 간편하고 안전한 톡
			//- span.lead 까페에서 친구랑 얘기할 때....
			//- span#frontMessage.typed.lead
			//- br
			//- br
			p.lead
				| 둘 만의 암호를 정하고, 방 이름을 공유하면 바로 톡할 수 있다.
			//- p.lead.room-title.text-success
			//- 	| 방 이름을 정하고, 카톡,라인 등 SNS로 공유하면 끝.
			div.roomdiv
				form#startForm.form-group(action='')
					div.input-group
						span.input-group-addon http://masktalk.me/
						input#roomname.form-control.input-lg(type='text', aria-describedby='server', placeholder='room name')
						span.input-group-btn
							button#startBtn.btn.btn-lg.btn-success(type='submit') 생성/입장
				//- div.fb-like(data-share='true', data-width='450', data-show-faces='true')
				div.fb-like(data-href='http://www.facebook.com/masktalk.me', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
				div.fb-follow(data-href='http://www.facebook.com/masktalk.me', data-layout='button_count', data-show-faces='true')
		hr
		div.row.howtouse
			div.subtitle.text-center
				h2.text-success 어떻게 쓰냐면...
			div.col-lg-4
				div.align-center
					i.fa.fa-lock.fa-5x.text-success
					h3.text-bold 1. 미리 암호를 정한다.
					p 
						| 만나서 하던, 전화를 하던 미리 암호를 정하자.
						| 모든 톡 내용을 암호화하여 전송한다.
						| 혹 실수로 같은 방에 들어와도 암호가 다르면 상대방 톡을 읽을 수 없다.
			div.col-lg-4
				div.align-center
					i.fa.fa-home.fa-5x.text-success
					h3.text-bold 2. 방을 만든다.
					p
						| 방 이름은 어떤 것이던 관계없다. 공백이 있어도 되고, 영어도 된다.
						| 가급적 다른 사람이 쓸 수 있는 이름이라면 피하자.
						| 그게 보안에 유리하다.
			div.col-lg-4
				div.align-center
					i.fa.fa-location-arrow.fa-5x.text-success
					h3.text-bold 3. 링크를 공유한다.
					p
						| 암호도 정하고, 방 이름도 정했으면, 위에 있는 'Create Room' 버튼을 누르면 된다.
						| 제대로 연결되었다면 주소를 복사하라는 안내가 나온다. 따라서 하면 된다.
		hr
		div.row.threeno
			div.subtitle.text-center
				h2.text-danger 3가지가 없다.
			div.col-lg-4
				div.panel.panel-default.text-center
					div.panel-heading
						span.fa-stack.fa-4x
							i.fa.fa-user.fa-stack-1x
							i.fa.fa-ban.fa-stack-2x.text-danger
					div.panel-body
						h3.text-bold 회원 가입 없다.
						p 
							| 톡 하는데 왜 회원 가입을 해야 하는가?
							| 회원 가입이 없으니 당연히 로그인도 없다.
							| 개인정보 보호하고 싶어도 그런 것 가지고 있지 않다.
						br
			div.col-lg-4
				div.panel.panel-default.text-center
					div.panel-heading
						span.fa-stack.fa-4x
							i.fa.fa-download.fa-stack-1x
							i.fa.fa-ban.fa-stack-2x.text-danger
					div.panel-body
						h3.text-bold 설치 없다.
						p
							| 복잡한 앱은 톡하는 사람 몰래 뭘 하는지 알 수가 없다. 들여다 볼 수가 없다. 
							| 우리가 원하는 것은 공개, 공유다. 브라우저만 있으면 누구나 톡할 수 있어야 한다. 
							| 파이어폭스, 크롬, 사파리, IE 모두 지원한다.
			div.col-lg-4
				div.panel.panel-default.text-center
					div.panel-heading
						span.fa-stack.fa-4x
							i.fa.fa-database.fa-stack-1x
							i.fa.fa-ban.fa-stack-2x.text-danger
					div.panel-body
						h3.text-bold 저장 않는다.
						p
							| 친구랑 까페에서 얘기하는데 친구가 녹음하나? 물론 기록으로 남겨야 할 경우도 있다.
							| 그럴 때는 카톡 쓰면 된다.
						br
		hr
		div.row.poweredby
			div.subtitle.text-center
				h2.text-muted 도움 받은 곳.
			div.col-lg-4
				div.text-center
					a(href='http://appear.in',target='_blank')
						img.logo-with-text(src='http://appear.in/i/static/images/logo-with-dark-text.svg', alt='appear.in')
					p
						| 방 이름만 공유하여 서비스한다는 개념은 appear.in에서 따왔다.
			div.col-lg-4
				div.text-center
					a(href='http://socket.io',target='_blank')
						img.logo-with-text(src='http://cdn.socket.io/website/imgs/logo.svg', alt='socket.io')
					p
						| Socket.io가 없었다면, 이렇게 빨리 내가 채팅앱을 만들 수 있었을까? Socket.io에 있는 Demo 소스를 수정했다.
			div.col-lg-4
				div.text-center
					i.fa.fa-user.fa-3x.logo-with-text 
					p 
						| 베타테스터가 없었다면 사실 릴리즈할 수도 없었을 것이다.
		hr
		footer.footer
			a(href='mailto://vingorius@gmail.com')
				p © 2015 masktalk.me
block append scripts
	//- script(src='/bower_components/typed.js/dist/typed.min.js')
	script(src='/javascripts/index.js')
