extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/cover.css')

block content
	div.site-wrapper
		div.site-wrapper-inner
			div.cover-container
				div.masthead.clearfix
					div.inner
						h1.masthead-brand #{__('index.instatalk')}
						//- nav
						//- 	ul.nav.masthead-nav
						//- 		li.active
						//- 			a(href='#') Home
						//- 		li
						//- 			a(href='#') How to Use
						//- 		li
						//- 			a(href='#') Contact
				div.inner.cover
					h1.cover-heading #{__('index.cover-heading')}
					p.lead 톡하는데 회원가입/로그인 그런게 왜 필요해!
					p.lead 서버가 뭔데 우리 대화 내용을 저장해!

					form#startForm(action='')
						div.input-group
							span#server.input-group-addon http://instatalk.me/
							input#roomname.form-control(type='text', aria-describedby='server', placeholder='room name')
							span.input-group-btn
								button#startBtn.btn.btn-default(type='submit') Start
					p.lead
						| No Login, No Install, Nothing Saved 
				div.mastfoot
					div.inner
						p
							| Cover template for 
							a(href='http://getbootstrap.com') Bootstrap
							| , by 
							a(href='https://twitter.com/mdo') @mdo
							| .
block append scripts
	//- script(src='/javascripts/copytoclipboard.js')
	script(src='/javascripts/index.js')
