extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/cover.css')

block content
	div.container
		div.header.clearfix
			nav
				ul.nav.nav-pills.pull-right
					li.active(role='presentation')
						a(href='/') Home
					li(role='presentation')
						a(href='/') About
					li(role='presentation')
						a(href='/') Contact
			h3.text-muted 복면톡
		div.jumbotron
			h1 우리도 자유롭게 톡 해보자~
			p.lead
				| 방 이름만 정해서 카톡,라인 등 SNS로 공유하면 끝.
			p
				a.btn.btn-lg.btn-success(href='#', role='button') Sign up today
		div.row.marketing
			div.col-lg-4
				img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', height='140', width='140')
				h2 회원가입 없다.
				p 
					| 톡 하는데 왜 회원 가입을 해야 하는가?
					| 회원 가입이 없으니 당연히 로그인도 없다.
				p
					a.btn.btn-default(href='#', role='button') View details »
			div.col-lg-4
				img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', height='140', width='140')
				h2 설치할 필요 없다.
				p
					| 복잡한 앱은 톡하는 사람 몰래 뭘 하는지 알 수가 없다. 들여다 볼 수가 없다. 
					| 우리가 원하는 것은 공개, 공유다. 브라우저만 있으면 누구나 톡할 수 있어야 한다. 
					| 파이어폭스, 크롬, 사파리, IE 모두 지원한다.
				p
					a.btn.btn-default(href='#', role='button') View details »
			div.col-lg-4
				img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', height='140', width='140')
				h2 저장하지 않는다.
				p
					| 서버에 저장했다가 어디에 쓸려고? 안다. 나중에라도 볼 수 있게 하려는거...하지만 우리는 이 기능 포기하겠다.
					| 그러니 나중에라도 봐야하는 거라면 카톡 쓰면 된다.
				p
					a.btn.btn-default(href='#', role='button') View details »
			div.col-lg-4
				img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', height='140', width='140')
				h2 암호화
				p
					| 서버에 저장했다가 어디에 쓸려고? 안다. 나중에라도 볼 수 있게 하려는거...하지만 우리는 이 기능 포기하겠다.
					| 그러니 나중에라도 봐야하는 거라면 카톡 쓰면 된다.
				p
					a.btn.btn-default(href='#', role='button') View details »

					//- div.col-lg-6
					//- 	h4 Subheading
					//- 	p
					//- 		| Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
					//- 	h4 Subheading
					//- 	p
					//- 		| Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
					//- 	h4 Subheading
					//- 	p Maecenas sed diam eget risus varius blandit sit amet non magna.
		footer.footer
			p © 2015 Company, Inc.



block append scripts
	//- script(src='/javascripts/copytoclipboard.js')
	script(src='/javascripts/index.js')
