extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/cover.css')

block content
	div.container
		div.header.clearfix
			//- nav
			//- 	ul.nav.nav-pills.pull-right
			//- 		li.active(role='presentation')
			//- 			a(href='/') Home
			//- 		li(role='presentation')
			//- 			a(href='/') About
			//- 		li(role='presentation')
			//- 			a(href='/') Contact
			h3.text-danger.brand 복면톡 
		div.jumbotron
			h1 우리도 자유롭게 톡 해보자~
			p.lead
				| 대화 기록을 요구해도 줄 게 없다.
				| 네트웍 중간에서 훔쳐볼려고 해도, 암호화되어 있다.
				| 뭘 설치하고 말고 할 것 없다. 기존 SNS과 함께 쓰다가 중요한 얘기만 이걸로 하면 된다. 
			p.lead.room-title.text-success
				| 방 이름을 정하고, 카톡,라인 등 SNS로 공유하면 끝.
			div
				div.room-group.input-group
					span.input-group-addon http://masktalk.me/
					input.form-control.input-lg(type='text', aria-describedby='server', placeholder='room name')
					span.input-group-btn
						button#startBtn.btn.btn-lg.btn-success(type='submit') Create Room


		div.row.howtouse
			div.subtitle.text-center
				h2.text-success 어떻게 쓰냐면...
			div.col-lg-4
				div.align-center
					i.fa.fa-lock.fa-5x.text-success
					h3.text-bold 1. 미리 암호를 정한다.
					p 
						| 만나서 하던, 전화를 하던 미리 암호를 정하자.
						| 모든 톡 내용을 암호화하여 전송한다.
						| 혹 실수로 같은 방에 들어와도 암호가 다르면 상대방 톡을 읽을 수가 없다.
			div.col-lg-4
				div.align-center
					i.fa.fa-home.fa-5x.text-success
					h3.text-bold 2. 방을 만든다.
					p
						| 방 이름은 어떤 것이던 관계없다. 공백이 있어도 되고, 한글도 된다.
						| 가급적 다른 사람이 쓸 수도 있는 이름이라면 피하자.
						| 그게 보안에 유리하다.
			div.col-lg-4
				div.align-center
					i.fa.fa-location-arrow.fa-5x.text-success
					h3.text-bold 3. URL을 공유한다.
					p
						| 암호도 정하고, 방도 정했으면, 위에 있는 'Create Room' 버튼을 누르면 된다.
						| 그러면 주소를 복사하는 안내가 나온다. 따라서 하면 된다.


		div.row.threeno
			div.subtitle.text-center
				h2.text-danger 3가지가 없다.
			div.col-lg-4
				div.align-center
					span.fa-stack.fa-4x
						i.fa.fa-user.fa-stack-1x
						i.fa.fa-ban.fa-stack-2x.text-danger
					h3.text-bold 회원가입 없다.
					p 
						| 톡 하는데 왜 회원 가입을 해야 하는가?
						| 회원 가입이 없으니 당연히 로그인도 없다.
						| 개인정보 보호하고 싶어도 그런 것 가지고 있지 않다.
			div.col-lg-4
				div.align-center
					span.fa-stack.fa-4x
						i.fa.fa-download.fa-stack-1x
						i.fa.fa-ban.fa-stack-2x.text-danger
					h3.text-bold 설치할 필요 없다.
					p
						| 복잡한 앱은 톡하는 사람 몰래 뭘 하는지 알 수가 없다. 들여다 볼 수가 없다. 
						| 우리가 원하는 것은 공개, 공유다. 브라우저만 있으면 누구나 톡할 수 있어야 한다. 
						| 파이어폭스, 크롬, 사파리, IE 모두 지원한다.
			div.col-lg-4
				div.align-center
					span.fa-stack.fa-4x
						i.fa.fa-database.fa-stack-1x
						i.fa.fa-ban.fa-stack-2x.text-danger
					h3.text-bold 저장하지 않는다.
					p
						| 서버에 저장했다가 어디에 쓸려고? 안다. 나중에라도 볼 수 있게 하려는거...하지만 우리는 이 기능 포기하겠다.
						| 그러니 나중에라도 봐야하는 거라면 카톡 쓰면 된다.


			//- div.col-lg-4
			//- 	img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', height='140', width='140')
			//- 	h2 암호화
			//- 	p
			//- 		| 서버에 저장했다가 어디에 쓸려고? 안다. 나중에라도 볼 수 있게 하려는거...하지만 우리는 이 기능 포기하겠다.
			//- 		| 그러니 나중에라도 봐야하는 거라면 카톡 쓰면 된다.
			//- 	p
			//- 		a.btn.btn-default(href='#', role='button') View details »
			//- div.col-lg-6
			//- 	h4 Subheading
			//- 	p
			//- 		| Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
			//- 	h4 Subheading
			//- 	p
			//- 		| Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
			//- 	h4 Subheading
			//- 	p Maecenas sed diam eget risus varius blandit sit amet non magna.
		footer.footer
			p © 2015 masktalk.me



block append scripts
	//- script(src='/javascripts/copytoclipboard.js')
	script(src='/javascripts/index.js')
