extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/instatalk.css')

block content
	div#ciperModal.modal.fade(tabindex='-1', role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title 미리 약속한 암호를 넣으시오.
				div.modal-body(style={'text-align':'center'})
					input#ciperInput(type='password')
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					//- button.btn.btn-primary(type='button') Save changes
	div.container
		div.page
			div.top-div
				div.url-div
					a#url.url(href='') Hello
				div.menu-div
					a#username(href='#') Usr1
			div.input-div
				input#inputMessage.form-control(type='text', placeholder='Type here...', aria-describedby='username')
			div.message-out-div
				div.message-inner-div
					ul#messages.messages
						//- - var n = 0;
						//- while n < 100
						//- 	li.message
						//- 		span= n++

			//- table.page-table
			//- 	tbody
			//- 		tr.message-tr
			//- 			td
			//- 				div.message-div
			//- 					ul#messages.messages
			//- 						- var n = 0;
			//- 						while n < 100
			//- 							li.message
			//- 								span= n++
			//- 		tr.input-tr
			//- 			td
			//- 				div
			//- 					div.input-group
			//- 						span#username.input-group-addon Usr1
			//- 						input#inputMessage.form-control(type='text', placeholder='Type here...', aria-describedby='username')							
			//- div.chatArea.well.well-lg
			//- 	ul#messages.messages
			//- input#inputMessage.inputMessage(placeholder='Type here...')

block append scripts
	script(src='/bower_components/js-cookie/src/js.cookie.js')
	script(src='/bower_components/crypto-js/crypto-js.js')
	//- nginx proxy 시...socket.io/socket.io.js는 되다 안되다 한다. 원인을 몰라 일단 CDN으로 연결하였다. 
	//- CND 사용은 버전을 정확히 맞춰줘야 한다.
	//- script(src='/socket.io/socket.io.js')
	script(src='https://cdn.socket.io/socket.io-1.3.7.js')
	script(src='/javascripts/instatalk.js')
