extends ./layout/basic

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/talk.css')

block content
	div#ciperModal.modal.fade(tabindex='-1', role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Security
				div.modal-body(style={'text-align':'center'})
					input#ciperInput.form-control(type='text', placeholder='미리 약속한 암호를 입력하세요.')
				div.modal-footer
					button#ciperModalOKButton.btn.btn-default(type='button', data-dismiss='modal') OK
					//- button.btn.btn-primary(type='button') Save changes

	div#userModal.modal.fade(tabindex='-1', role='dialog')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title User Name
				div.modal-body(style={'text-align':'center'})
					p 대화에 사용할 이름을 입력하세요.
					input#userInput.form-control(type='text')
				div.modal-footer
					button#userModalOKButton.btn.btn-default(type='button', data-dismiss='modal') OK
					//- button.btn.btn-primary(type='button') Save changes
	div.container
		div.page
			div.top-div
				div.name-div
					a#username(href='', data-toggle="modal", data-placement='right', data-delay='{"show":"500","hide":"100"}', data-content='Click here to change your name.') Usr1

			div.input-div
				div.input-group
					input#inputMessage.form-control.input-lg(type='text', placeholder='여기에 입력하세요...')
					span.input-group-btn
						button#sendButton.btn.btn-lg(type='button') Send
			div.message-out-div
				div.message-inner-div
					ul#messages.messages
						div#startMessage
							li.log(style='display: list-item;') 성공적으로 서버에 연결하였습니다.
							li.log(style='display: list-item;') 아래 주소를 복사하여 카카오톡,밴드,라인과 같은 채팅앱으로 공유하세요.
							li.log(style='display: list-item;')
								//- button#copyButton.btn(data-clipboard-text="http://talk.me/hello")
								//- 	| Copy to clipboard
								div.input-group
									input#roomurl.form-control.input-sm(type='text',value='',placeholder='room url')
									span.input-group-btn
										button#copyButton.btn.btn-default.btn-sm(type='button',data-clipboard-target='#roomurl',data-toggle="tooltip" data-placement="top",title="Copied") Copy

						div#startWarning
							li.log(style='display: list-item; color: #A94442;') 암호를 입력하지 않았습니다..
block append scripts
	script(src='/bower_components/js-cookie/src/js.cookie.js')
	script(src='/bower_components/crypto-js/crypto-js.js')
	script(src='/bower_components/clipboard/dist/clipboard.js')
	script(src='/bower_components/linkify/1.0/jquery.linkify-1.0.js')
	//- nginx proxy 시...socket.io/socket.io.js는 되다 안되다 한다. 원인을 몰라 일단 CDN으로 연결하였다. 
	//- CND 사용은 버전을 정확히 맞춰줘야 한다.
	//- script(src='/socket.io/socket.io.js')
	script(src='https://cdn.socket.io/socket.io-1.3.7.js')
	script(src='/javascripts/talk.js')
