.input {
    width: 100px;
    margin: 5px;
}
.btn {
    margin: 5px;
}
#friends {
    width: 200px;
    margin: 10px;
}
.modal-content {
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
#msgdiv {
}
#inputdiv {
}
#m {
    width: 200px;
}
