.brand {
    font-weight: 900;
}
.jumbotron {
    text-align: center;
}
.subtitle h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.threeno {
    background-color: #EEE;
    border-radius: 6px;
}
.howtouse .col-lg-4, .threeno .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.room-title {
    padding-top: 30px;
}
.room-group {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.ico-a {
    color: green;
}
.footer {
    text-align: center;
}
