.brand {
    font-weight: 900;
}
.jumbotron {
    text-align: center;
}
.subtitle h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.roomdiv {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.howtouse .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.threeno .panel-body {
    /*height: 200px;*/
}
.illustration {
    box-shadow: 0px 0px 10px #27282C;
    border: 2px solid #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em;
    max-width: 180px;
    max-height: 180px;
    flex-shrink: 0;
}
.logo-with-text {
    height: 43px;
    margin-bottom: 20px;
    color: #333;
}
.room-title {
    padding-top: 30px;
}
.ico-a {
    color: green;
}
.footer {
    text-align: center;
}

/* typed cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*mobile*/

@media (max-width: 33em) {
    .roomdiv {
        width: 95%;
    }
    .roomdiv .input-group-addon, #roomname, #startBtn {
        padding-left: 4px;
        padding-right: 4px;
    }
}
