doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html
	meta(charset='utf-8')
	meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
	meta(content='복면톡', name='title')
	meta(content='간편하고 안전한 톡', name='description')
	meta(content='City Goat', name='author')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	// facebook
	meta(property='fb:app_id', content='916220245120332')
	meta(property='og:url', content='http://masktalk.me')
	meta(property='og:type', content='article')
	meta(property='og:title', content='복면톡')
	meta(property='og:description', content='간편하고 안전한 톡')
	meta(property='og:image', content='/images/masktalk-hangul.png')

	
	head
		title= title
		block stylesheets
			link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
			link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
			link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
	body
		block content

		block scripts
			script(src='/bower_components/jquery/dist/jquery.min.js')
			script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
			script(src='/javascripts/main.js')
